# Ignore backend dependencies and Environment variables
backend/node_modules/
backend/.env

# Python virtual environment
ml_service/.venv/
ml_service/__pycache__/


# Ignore OS specific files
.DS_Store
Thumbs.db